body{
    background-color: #222222;
    margin: 0px;
    padding: 0px;
    
}

.sign{
    border-radius: 10%;
    margin: 0 6px;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.sign:hover{
    transform: scale(1.1);
    border: white solid 1px;
}

.first-circle{
    height: 1400px;
    width: 1400px;
    background-color: #ED3A35;
    border-radius: 50%;
    right:-550px;
    bottom: -450px;
}
.second-circle{
    height: 1200px;
    width: 1200px;
    background-color: #45A8F9;
    border-radius: 50% ;
    left:-400px;
    top: 300px;
}
.main-container{
    max-height: 700px;
}
@media only screen and (max-width: 1040px) {
    div.first-circle {
      display: none;
    }
    div.second-circle {
        display: none;
      }
      div.main-container{
          display: flex;
          flex-direction: column;
      }
      .body{
        overflow-x: auto;
        overflow-y: auto;
      }
  }
/************************************************************/

.main-box-1{
    border-radius: 10%;
    text-align: center;
    margin: 150px auto auto 100px;
    height:400px;
    width:280px;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: ease-in-out 1s;

}
.main-box-1:hover {
    transform: scale(1.2);
    transition: ease-in-out 1s;
}


.main-box-1:hover +.image-shoe-1{
    transform: rotate(-24deg);
    margin: -5px auto auto 20px;
    height:400px;
    width:auto;
    transition: ease-in-out 1s;
}
.image-shoe-1{
    margin: 180px auto auto 115px;
    height:250px;
    width:auto;
    transition: ease-in-out 1s;
}
/******************************/
.main-box-2{
    border-radius: 10%;
    text-align: center;
    margin: 150px auto auto 600px;
    height:400px;
    width:280px;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: ease-in-out 1s;
}
.main-box-2:hover{
    transform: scale(1.2);
    transition: ease-in-out 1s;
}
.image-shoe-2{
    transform: rotate(20deg);
    margin: 180px auto auto 635px;
    height:250px;
    width:auto;
    transition: ease-in-out 1s;
}

.main-box-2:hover + .image-shoe-2{
    transform: rotate(-15deg);
    margin: -5px auto auto 530px;
    height:400px;
    width:auto;
    transition: ease-in-out 1s;
}


/******************************/
.main-box-3{
    border-radius: 10%;
    text-align: center;
    margin: 150px auto auto 1100px;
    height:400px;
    width:280px;
    background:rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: ease-in-out 1s;
}
.main-box-3:hover{
    transform: scale(1.2);
    transition: ease-in-out 1s;
}

.main-box-3:hover + .image-shoe-3{
    transform: rotate(-23deg);
    margin: -5px auto auto 1020px;
    height:400px;
    width:auto;
    transition: ease-in-out 1s;
}
.image-shoe-3{
    margin: 180px auto auto 1115px;
    height:250px;
    width:auto;
    transition: ease-in-out 1s;
}
/************************************************************/
.buy-now{
    color: #222222;
}
.size-7,.size-8,.size-9{
    transition: ease-in-out 50ms;
}
.buy-now:hover{
    cursor: pointer;
    border: solid green 1px;
    color: green;
    transition: ease-in-out 50ms;
}
.size-7:hover,.size-8:hover,.size-9:hover{
    cursor: grab;
    border: solid green 1px;
    color: green;
    transition: ease-in-out 50ms;
}